@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');

:root {
    --bg-white-color: #fff;
    --bg-blue-color: #3b699a;
    --bg-orange-color: #e79003;
    --font-white-color: #fff;
    --font-blue-color: #3b699a;
    --font-orange-color: #e79003;
    --hover-color: #3b699a;
    --hover-two-color: #e79003; 
}

body {
    background-image: url('./img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: "Red Hat Text", sans-serif;
    overflow: hidden;
}

body.show-scrollbar {
    overflow: auto;
}

.no-outline {
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    caret-color: var(--font-white-color);
    background-color: transparent;
    border: 1px solid var(--font-white-color);

}

.form-control::placeholder {
    color: var(--font-white-color);
}

.form-control:focus {
    background-color: transparent;
    border-color: var(--hover-color);
    color: var(--font-white-color);
}

i {
    color: var(--font-white-color);
}

a {
    text-decoration: none;
}

button {
    transform: .5s;
    text-transform: uppercase;
}

.navbar {
    transition: all 0.5s;
}

#header.header-scrolled {
    max-width: 70vw;
    margin: 10px auto;
    border-radius: 50px;
    background-color: var(--bg-white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}



.navbar-nav .nav-item .nav-link {
    color: var(--font-white-color);
    transition: .5s;
}

#header.header-scrolled .nav-link {
    color: var(--font-blue-color);
}

#header.header-scrolled .navbar-brand,
#header.header-scrolled i {
    color: var(--font-blue-color);
}
#header.header-scrolled .logo{
    width: 30px;
}

.navbar-nav .nav-item .nav-link.active {
    font-weight: bolder;
}

.navbar-nav .nav-item .nav-link:hover {
    color: var(--hover-two-color);
}

#header.header-scrolled .nav-link:hover {
    color: var(--hover-two-color);
}

#header.header-scrolled .btn-white {
    background-color: var(--bg-orange-color);
    color: var(--font-white-color);
}

#header.header-scrolled .btn-white:hover {
    background-color: var(--hover-color);
    color: var(--font-white-color);
}

.navbar-brand {
    color: var(--font-white-color);
    font-weight:600;
}
.navbar-brand:hover{
    color: var(--font-white-color);
}
.logo{
    width: 40px;
}

.offcanvas,
.offcanvas-lg,
.offcanvas-md,
.offcanvas-sm,
.offcanvas-xl,
.offcanvas-xxl {
    transition: 1s;
    --bs-offcanvas-height: 100vh;
}




/* @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
} */

h5 {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--font-orange-color);
}

.home {
    margin-top: 10vh;
    min-height: 100vh;
    
}

.home h1 {
    font-size: 70px;
    color: var(--font-white-color);
    font-weight: bold;

}

.home p {
    font-size: 18px;
    color: var(--font-white-color);

}


.btn-white {
    background-color: var(--bg-white-color);
    color: var(--font-blue-color);
    transition: .5s;
    max-width: max-content;
}

.btn-white:hover {
    background-color: var(--hover-color);
    color: var(--font-white-color);
}

.btn-blue {
    background-color: var(--bg-orange-color);
    color: var(--font-white-color);
    transition: .5s;

}

.btn-blue.chatinput {
    border: 1px solid var(--font-white-color);
    border-left: none;

}



.btn-blue:hover {
    background-color: var(--hover-color);
    color: var(--font-white-color);
}

.main-content {
    background-color: var(--bg-orange-color);
}

.about {
    background-color: var(--bg-orange-color);
    min-height: 80vh;
    border-bottom: 1px solid var(--bg-white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.services {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
    background-color: var(--bg-orange-color);
    min-height: 90vh;
    border-bottom: 1px solid var(--bg-white-color);
}

.about h5,
.services h5 {
    color: var(--font-white-color);
    font-weight: bold;
}

.about p {
    font-size: 20px;
    color: var(--font-white-color);
    margin-bottom: 30px;
    text-align: justify;
}


.serv-box i {
    font-size: 5rem;
    color: var(--font-white-color);
    margin-bottom: 30px;
    transition: .5s;
}

.serv-box:hover i {
    transform: translateX(30px);
    color: var(--font-blue-color);
}

.serv-box h1 {
    color: var(--font-white-color);
    font-size: 22px;

}

.serv-box p {
    text-align: justify;
    color: var(--font-white-color);
    font-size: 18px;
}

.serv-box:hover {
    border: inset 2px solid red;
}

.footer {
    height: 9vh;
    background-color: var(--bg-orange-color);
    color: var(--font-white-color);
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: var(--bg-orange-color);

}

::-webkit-scrollbar-thumb {
    background-color: var(--bg-white-color);
    border-radius: 20px;
}

.chat::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar {
    background: transparent;

}

.chat::-webkit-scrollbar-thumb {

    background-color: var(--bg-white-color);
}

.offcanvas-body::-webkit-scrollbar-thumb {

    background-color: var(--bg-white-color);
}

.chatbot-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.chatbot-container h5 {
    color: var(--font-white-color);
}

.chat {
    height: 85vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: var(--bg-orange-color);

}


.sidebar-text {
    font-size: .875rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    padding: 0;
    margin: 0;
    transition: .5s;
}

.sidebar-text:hover {
    text-decoration: underline;
}

.sidebarChatBot {
    max-width: 350px;
    background-color: var(--bg-orange-color);
}

.sidebarChatBot button {
    background-color: var(--bg-white-color);
    color: var(--font-blue-color);
    font-weight: 900;
    transition: .5s;
}

.sidebarChatBot button i {
    color: var(--font-blue-color);
    transition: .5s;
}

.sidebarChatBot button:hover i {
    color: var(--font-white-color);
}

.sidebarChatBot button:hover {
    color: var(--font-white-color);
    background-color: var(--bg-blue-color);

}

.sidebarChatBot i {
    color: var(--font-blue-color);
}

.conv-date {
    color: var(--font-white-color);
    font-size: .7rem;
    padding: 0;
    margin: 0;
}

.chat-date {
    color: var(--font-white-color);
    font-size: .7rem;
    padding: 0;
    margin: 0;
}

.sidebar-box {
    color: var(--font-white-color);
    cursor: pointer;
    background-color: var(--bg-blue-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.sidebar-box-active {
    box-shadow: inset 0px 0px 0px 1px var(--font-white-color);
}

.chat .chat-text {
    margin-bottom: .25em;
    font-size: 0.9rem;
}

.sent {
    color: var(--font-white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.sent.user {
    color: var(--font-blue-color);
    background-color: var(--bg-white-color);
}

.sent.robot {
    background-color: var(--bg-blue-color);
    color: var(--font-white-color);
}

.fa-robot {
    color: var(--font-blue-color);
}

.fa-user {
    color: var(--font-white-color);
}

.sent i {
    color: var(--font-orange-color);
}

.username p {
    color: var(--font-white-color);
}

.img-container img {
    max-height: 70vh;
    width: auto;
}

.img-container button {
    width: 200px;
}

#MicroButton {
    font-size: 1.5rem;
}

.form-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    
}

.form-container form {
    width: 500px;
    background-color: var(--bg-orange-color);
    border: 1px solid var(--font-white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.439);
}

.form-container form h5 {
    font-size: 40px;
    text-transform: capitalize;
    font-weight: bold;
    color: var(--font-white-color);
}

.form-container form p {
    font-size: 18px;
    color: var(--font-white-color);
}
.form-container form .btn-blue{
    background-color: var(--bg-blue-color);
}
.form-container form .btn-blue:hover{
    background-color: var(--bg-white-color);
    color: var(--font-blue-color);
}
.form-container .form-link {
    font-size: 13px;
    color: var(--font-white-color);
}

.form-container .form-link span {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .offcanvas {
        background-color: var(--bg-white-color);
    }

    .offcanvas .navbar-nav .nav-item .nav-link {
        color: var(--font-blue-color);
        transition: .5s;
    }

    .navbar-nav .nav-item .nav-link:hover {
        color: var(--hover-color);
    }

    .offcanvas .btn-white {
        background-color: var(--font-blue-color);
        color: var(--font-white-color);

    }

    .offcanvas .btn-white:hover {
        background-color: var(--hover-color);
        color: var(--font-white-color);
    }

    .offcanvas .close {
        color: var(--font-blue-color);
    }

}

@media (max-width: 992px) {


    .home h1 {
        font-size: 50px;
    }

    .home p {
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .about p,
    .serv-box p {
        font-size: 16px;
    }

    .img-container button {
        width: max-content;
    }

    .form-container form h5 {
        font-size: 30px;
    }

    .form-container form p {
        font-size: 16px;
    }

    .form-container form {
        max-width: 350px;
    }
}